:root {
    /* Base colors */
    --base: #181515;
    --surface: #221E1E;
    --overlay: #423939;

    /* Text colors */
    --text: #F4E6D2;
    --subtle: #6e6a86;
    --muted: #797593;

    /* Highlight colors */
    --red: #CA3F3F;
    --orange: #E46A3A;
    --yellow: #E39C45;
    --green: #989F56;
    --blue: #4A5A8D;
    --purple: #9F569A;
}

@font-face {
    font-family: 'Iosevka';
    src: url('../assets/fonts/Iosevka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a:hover {
    color: var(--base);
    background-color: var(--text);
}

hr {
    color: var(--text);
}

html {
    font-family: 'Iosevka';
    font-size: 1rem;
    color: var(--text)
}

table {
    display: inline-block;
    vertical-align: middle;
}

body {
    padding: 0px;
    margin: 0px;
    max-height: fit-content;
}

.refresh {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--text);
}

small {
    font-size: 0.8rem;
}

a#track {
    font-weight: bold;
}

#heart {
    margin: 0px 10px;
}

#date {
    font-size: 0.8rem;
}
