@import url(../style.css);

a:hover {
    color: var(--base);
    background-color: var(--text);
}

hr {
    color: var(--text);
}

html {
    font-size: 1rem;
    color: var(--text)
}

table {
    display: inline-block;
    vertical-align: middle;
}

body {
    padding: 0px;
    margin: 0px;
    max-height: fit-content;
}

.refresh {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--text);
}

small {
    font-size: 0.8rem;
}

a#track {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0rem;
}

#heart {
    margin: 0px 10px;
}

#date {
    font-size: 0.8rem;
}

img {
    height: 8rem;
}
