.site-box {
    text-align: center;
    background-image: url(https://blanche.nekoweb.org/assets/banner/magicPatternGreen.jpg); /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: no-repeat;
    color: #b08271;
    font-size: 12px;
}
.site-box > a > p {
    color: var(--darkbrown);
    font-weight: bold;
}
.site-box > a > span {
    color: var(--darkbrown);
}
@import url(colorschemes/paradise.css);
.follow {
    color: var(--text);
}
.following {
    color: var(--text);
}
