:root {
    /* Base colors */
    --base: #181515;
    --surface: #221E1E;
    --overlay: #423939;

    /* Text colors */
    --text: #F4E6D2;
    --subtle: #6e6a86;
    --muted: #797593;

    /* Highlight colors */
    --red: #CA3F3F;
    --orange: #E46A3A;
    --yellow: #E39C45;
    --green: #989F56;
    --blue: #4A5A8D;
    --purple: #9F569A;
}

@font-face {
    font-family: "Iosevka";
    src: url("assets/fonts/Iosevka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes move-pan {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 100px;
    }
}

body {
    font-family: "Iosevka", BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--base);
    /*background-image: linear-gradient(rgba(234, 157, 52, 0.1), rgba(234, 157, 52, 0.1)), url(assets/background.jpg);*/
    color: var(--text);
    margin: 0;
    padding: 2rem;
}
/*
body::before {
    transform: rotate(30deg);
}
*/
header {
    width: 100%;
    height: auto;
    max-height: 20rem;
    text-align: center;
    margin: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    max-width: 100%;
    max-height: 10rem;
    border-radius: 15px;
    margin: auto;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 2%;
    background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));

    color: var(--text);
}

.sidebar {
    max-width: 300px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.map-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.map-item-green {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 4px;
    border: 3px solid var(--green);
}

.map-item-red {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 4px;
    border: 3px solid var(--red);
}

.map-item-sky {
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 4px;
    border: 3px solid var(--blue);
}

.border {
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid var(--text);
}

.map-item.wide {
    grid-column: span 1;
}

a {
    color: var(--text);
    text-decoration: underline;
}

a:hover {
    color: var(--base);
    background-color: var(--text);
}

hr {
    border: none;
    height: 4px;
    background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
}

small {
    font-size: 0.8rem;
}

.footer-text {
    font-size: 0.75rem;
    color: var(--highlight-high);
    margin-top: 2rem;
    text-align: center;
}

.album-art {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    float: left;
}

.now-playing {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0rem;
    max-height: 5.5rem;
}

.song-info {
    font-size: 0.875rem;
    line-height: 1.2;
}

.song-info a {
    text-decoration: none;
}

.links {
    margin-top: 1rem;
}

.recent {
    font-size: 0.875rem;
    margin-top: 0px;
    display: block;
}

.recent-frame {
    margin-top: 1rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    body {
        padding: 1rem;
    }
}

.squares {
    background-image: radial-gradient(
            circle,
            var(--text) 0.09rem,
            transparent 1px
        ),
        radial-gradient(circle, var(--text) 0.09rem, transparent 1px);
    background-size: 20px 20px;
    padding: 1rem;
}

.pfp {
    border-radius: 25%;
    width: 8.5rem;
    float: left;
    margin-right: 1rem;
}

.webrings {
    margin: auto;
    width: fit-content;
}

.buttonwall {
    margin: auto;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonwall img {
    margin: 0.2rem;
}

.atabook {
    width: 100%;
    height: 100vh;
    border: none;
}
