@import url(colorschemes/custom.css);

* {
    font-family: "Iosevka", "Courier New", Courier, monospace;
    color: var(--text);
}

@font-face {
    font-family: "Iosevka";
    src: url("assets/fonts/Iosevka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    color: var(--text);
    text-decoration: underline;
}

a:hover {
    color: var(--base);
    background-color: var(--text);
}
a span.date {
    text-decoration: none !important;
}

body {
    background-color: var(--base);
}

footer {
    padding-top: 4rem;
    font-size: 0.75rem;
    color: var(--highlight-high);
    margin-top: 2rem;
    text-align: center;
    clear: both;
}


hr{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-width: 0.5px;
}

li {
    margin-bottom: 0.9rem;
}

nav {
    box-sizing: border-box;
    max-height: 3rem;
    padding-left: 15vw;
    padding-right: 15vw;
}

small {
    color: var(--subtle);
}

.atabook {
    width: 100%;
    height: 100vh;
    border: none;
}

.bannerbox {
    box-sizing: border-box;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    align-content: center;
}
.bannerbox small {
    float: right;
    text-align: right;
}

.bannerimg {
    overflow: hidden;
    max-width: 720px;
    max-height: 220px;
    margin-bottom: 10px;
}
.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonwall {
    margin: auto;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonwall img {
    margin: 0.2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
}

.date{
    background-color: var(--text);
    color: var(--base);
    border-radius: 5px;
    text-decoration: none !important;
}

.gridcover {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gridcover a {
    text-decoration: none;
}
.gridel{
    width: 28%;
}
.gridel img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
}
.gridel p {
    text-align: center;
    margin-top: 0;
}

.header {
    position: relative;
    display: flex;
    background: repeating-linear-gradient(
        to right,
        var(--green) 0px,
        var(--green) 4px,
        #00000000 4px,
        #00000000 12px
    );
    padding: 0;
    font-size: 2rem;
    margin: 0;
    margin-top: 1rem;
    font-weight: 800;
}

.header span {
    background-color: var(--green);
    padding: 20px;
}

.header-small {
    position: relative;
    display: flex;
    background: repeating-linear-gradient(
        to right,
        var(--purple) 0px,
        var(--purple) 4px,
        #00000000 4px,
        #00000000 12px
    );
    padding: 0;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.header-small span {
    background-color: var(--purple);
    padding: 10px;
}

.icon{
    font-family: "Iosevka";
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 30px;
}

.image-item {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.image-item:hover img {
    z-index: 10;
    transform: scale(1.1);
}

.navelem {
    float: right;
    margin-left: 1rem;
    align-items: center;
}
.navelem a {
    text-decoration: none;
}

.navlogo {
    float: left;
    max-height: 24px;
}

.music-widget {
    border: none;
    outline: none;
}
.music-widget iframe{
    border: none;
    outline: none;
    width: 100%;
}

.overlay {
    display: none; /* hidden by default */
    position: fixed; /* stay fixed on screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85); /* dark backdrop */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.6);
    transition: transform 0.3s ease;
}

.pdfdisplay {
    max-width: 300px;
    float: left;
    margin-right: 1.4rem;
}
.pdfdisplay img {
    width: 100%;
}

.post-item {
    display: flex;
    align-items: stretch;
    gap: 1em;
    background: var(--surface);
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.post-item-c {
    flex: 1;
}

.post-item-img {
    width: 120px;
    flex-shrink: 0;
    overflow: hidden;
}

.post-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

.recent {
    font-size: 0.875rem;
    margin-top: 0px;
    display: block;
}

.recent p{
    padding-bottom: 0.5rem;
    padding-top: 0rem;
}

.recent-frame {
    margin-top: 1rem;
    overflow: hidden;
    width: 100%;
}

.recent-frame iframe {
    width: 100%;
    height: 14rem;
}

.webrings {
    margin: auto;
    width: fit-content;
}
