@import url(colorschemes/paradise.css);

* {
    font-family: "Iosevka", "Courier New", Courier, monospace;
    color: var(--text);
}

@font-face {
    font-family: "Iosevka";
    src: url("assets/fonts/Iosevka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

a {
  color: var(--text);
  text-decoration: underline;
}

a:hover {
  color: var(--base);
  background-color: var(--text);
}
a span.date {
  text-decoration: none !important;
}

body {
    background-color: var(--base);
}

nav {
    box-sizing: border-box;
    max-height: 3rem;
    padding-left: 15vw;
    padding-right: 15vw;
}

.bannerbox {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    align-content: center;
}
.bannerbox small {
    float: right;
    text-align: right;
}

.bannerimg {
    overflow: hidden;
    max-width: 720px;
    max-height: 220px;
    margin-bottom: 10px;
}
.bannerimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
}

.date{
    background-color: var(--text);
    color: var(--base);
    border-radius: 5px;
    text-decoration: none;
}

.navelem {
    float: right;
    margin-left: 1rem;
    align-items: center;
}
.navelem a {
    text-decoration: none;
}

.navlogo {
    float: left;
    max-height: 24px;
}
