:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #282936;
    --base: #1e1e2e;
    --mantle: rgba(24, 24, 37, 0.5);
    --crust: rgba(17, 17, 27, 0.5);
}

@font-face {
    font-family: 'Iosevka';
    src: url('assets/fonts/Iosevka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "Iosevka", BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    /*
    background-color: var(--base);
    */
    background-image: url(assets/pattern.svg);
    background-repeat:repeat;
    color: var(--text);
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.map-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.map-item-green {
    background-color: var(--base);
    padding: 1rem;
    border-radius: 4px;
    border: 2px dotted var(--green);
}

.map-item-red {
    background-color: var(--base);
    padding: 1rem;
    border-radius: 4px;
    border: 2px dotted var(--red);
}

.map-item-sky {
    background-color: var(--base);
    padding: 1rem;
    border-radius: 4px;
    border: 2px dotted var(--sky);
}

.border {
    padding: 1rem;
    border-radius: 4px;
    border: 2px dotted var(--text);
}

.map-item.wide {
    grid-column: span 1;
}

a {
    color: var(--text);
    text-decoration: underline;
}

a:hover {
    color: var(--base);
    background-color: var(--text);
}

hr {
    color: var(--text);
}

.footer-text {
    font-size: 0.75rem;
    color: var(--overlay2);
    margin-top: 2rem;
    text-align: center;
}

.album-art {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    float: left;
}

.now-playing {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
}

.song-info {
    font-size: 0.875rem;
    line-height: 1.2;
}
.song-info a {
    text-decoration: none;
}

.links {
    margin-top: 1rem;
}

.recent {
    font-size: 0.875rem;
    margin-top: 0px;
    display: block;
}

.recent-frame {
    margin-top: 1rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    body {
        padding: 1rem;
    }
}

.squares {
    background-image: radial-gradient(circle, var(--text) 0.09rem, transparent 1px),
                      radial-gradient(circle,var(--text) 0.09rem, transparent 1px);
    background-size: 20px 20px;
    padding: 1rem;
}

.pfp {
    border-radius: 25%;
    width: 5.5rem;
    float: left;
    margin-right: 1rem;
}

.webrings {
    margin: auto;
    width: fit-content;
}

.buttonwall {
    margin: auto;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttonwall img {
    margin: 0.2rem;
}

.atabook {
    width: 100%;
    height: 100vh;
    border: none;
}